### Importing libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import string

### 1. Count all letters, digits, and special symbols from a given
string
str1 = "I@#ma26rt^&ic5us"

In [2]:
str1= "I@#ma26rt^&ic5us"
special_symbols = ''
letters = ''
digits = ''

for i in str1:
    if i in string.punctuation:                #Checking for the special symbols.
        special_symbols+=i
    elif i.isalpha():                          #Checking for the letters.
        letters+=i
    else:                                      #Left out is digits.
        digits+=i


print("Special symbols: ", special_symbols)    #Printing all letters, digits and special symbols accordingly.
print("Letters: ", letters)
print("Digits: ", digits)

Special symbols:  @#^&
Letters:  Imarticus
Digits:  265

### 2. Write a Python program to find numbers divisible by nineteen or thirteen from a list of numbers using Lambda.
a=[19, 65, 57, 39, 152, 639, 121, 44, 90, 190]

In [3]:
a = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190]

output = list(filter(lambda x: x % 19 == 0 or x % 13 == 0, a))     #applying condition through lambda function

print(output)                                                      #Printing the result set

[19, 65, 57, 39, 152, 190]

### 3. Find all of the words in a string that are less than 5 letters.
string = "Practice Problems to Drill List Comprehension in
Your Head."

In [4]:
string = "Practice Problems to Drill List Comprehension in Your Head."
string_words = string.split(" ")
result = []
for word in string_words:
    if len(word)<5:
        result.append(word)                                #Appending the word which are having length of less than 5 letters.

        
print("Words that are less than 5 letters in a string: ", result)

Words that are less than 5 letters in a string:  ['to', 'List', 'in', 'Your']

### 4. Calculate income tax for the given income by adhering to the below rules:
Taxable            income Rate (in %)

First             $10,000 0

Next              $10,000 10

The remaining     20

Expected Output:

For example, suppose the taxable income is 45000 the
income tax payable is:
10000 0% + 10000 10% + 25000 20% = $6000.

In [5]:
def income_tax(income):
    if income > 10000:
        return ((10000)*0.1) + ((income-20000)*0.2)         #Calculating income tax

income = eval(input("Please enter your income: "))
 
print("Tax amount payable is: $", income_tax(income))      #Printing the result set

Please enter your income: 45000
Tax amount payable is: $ 6000.0

### 5. Given below are the list of positive and negative words. Also, a list of tweets is provided. Separate out the positive and negative comments.

In [6]:
positive = ['good','awesome', 'best', 'nice']
negative = ['worst','awful', 'bad']

positive_comment = []                     
negative_comment = []                        

tweets = ['This government policies are good', 
            'bad implementation', 
            'The way he played showed that he is one of the best players in the world', 
            'Her acting in the play was awesome', 'The wine tastes awful', 
            "It's nice to hear this little kid's laugh",
          "The service here is extremly bad"
         ]        


for sentence in tweets:                             #Filtering out the positive and negative comments
    for pos in positive:                            
        if pos in sentence:                    
            positive_comment.append(sentence)      
    for nes in negative:                         
        if nes in sentence:                         
            negative_comment.append(sentence)       
    

print("Positive Sentiment: ",positive_comment)   
print("\nNegative Sentiment: ",negative_comment)

Positive Sentiment:  ['This government policies are good', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', "It's nice to hear this little kid's laugh"]

Negative Sentiment:  ['bad implementation', 'The wine tastes awful', 'The service here is extremly bad']

### 6. Extend nested list by adding the sublist. You have given a nested list.  Write a program to extend it by adding the sublist ["h", "i", "j"] in such a way that it will look like the following list.
expected_output =['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'],
'm', 'n']

In [7]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
#sub list to add
sub_list = ["h", "i", "j"]


for i in range(len(sub_list)):                         #Inserting sub_list values in the list1 based on the index position
    list1[2][1][2].append(sub_list[i])

print("Expected output: ", list1)

Expected output:  ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

### 7. Remove and add item in a list.
Write a program to remove the item present at index 4 and
add it to the 2nd position and at the end of the list.

In [8]:
list1 = [54, 44, 27, 79, 91, 41]
value = list1[4]          #Copying the value before deletion            
del list1[4]              #Deleting index 4th value
list1.insert(1, value)    #Adding the copied value in the 2nd position
list1.append(value)       #Adding the copied value in the end of the list

print("List value: ", list1)

List value:  [54, 91, 44, 27, 79, 41, 91]

### 8. Load the iris dataset and Find only those records whose sepal_length = 5.1 and sepal_width = 3.5

In [9]:

df = sns.load_dataset("iris")
df = df[(df['sepal_length'] == 5.1) & (df['sepal_width'] == 3.5)]
print("Records whose sepal_length = 5.1 and sepal_width = 3.5:\n\n", df)      #Printing the result set

Records whose sepal_length = 5.1 and sepal_width = 3.5:

     sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
17           5.1          3.5           1.4          0.3  setosa

### 9. Check for Maximum petal_length and convert it in to 7.2 and min petal_length and convert it in to 1.2

In [10]:
df = sns.load_dataset("iris")

print(df.iloc[df['petal_length'].idxmax()])          #Minimum

print(df.iloc[df['petal_length'].idxmin()])          #Maximum


df.iloc[df['petal_length'].idxmax()] = 7.2           #Converting the maximum and minimum value.
df.iloc[df['petal_length'].idxmin()] = 2.1

sepal_length          7.7
sepal_width           2.6
petal_length          6.9
petal_width           2.3
species         virginica
Name: 118, dtype: object
sepal_length       4.6
sepal_width        3.6
petal_length       1.0
petal_width        0.2
species         setosa
Name: 22, dtype: object

### 10. Perform right join to combine values based on the 'ID' in the two dataframes.

In [11]:
candidate_column = ['ID', 'Candidate_Name', 'Subject']
candidate_data = [[101, 'Alex', 'History'],
                  [102, 'Amy', 'English'],
                  [103, 'Allen' , 'Geography'],
                  [104, 'Alice' ,'German'],
                  [105, 'James', 'History'],
                  [106, 'Sara', 'German'],
                  [107, 'Mia', 'English']]
candidate = pd.DataFrame(candidate_data, columns = candidate_column)   #Creating Candidate DataFrame using the giving data


score_column = ['ID' , 'City', 'Subject_Score']
score_data = [[101, 'Delhi', 89],
              [102, 'Mumbai', 78],
              [103, 'Delhi', 77],
              [104, 'Chennai', 87],
              [105, 'Hyderabad', 87],
              [108, 'Delhi', 84]]
score = pd.DataFrame(score_data, columns = score_column)              #Creating Score DataFrame using the giving data

pd.merge(candidate,score,how='inner',on='ID')                         #Two dataframes Joined using Inner Join

    ID Candidate_Name    Subject       City  Subject_Score
0  101           Alex    History      Delhi             89
1  102            Amy    English     Mumbai             78
2  103          Allen  Geography      Delhi             77
3  104          Alice     German    Chennai             87
4  105          James    History  Hyderabad             87